
#main-navtab {
    width: 500px;
    padding: 10px;
    margin: 0 auto 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 2px 3px 13px 7px #1f1c1c;
}
    #main-navtab ul#myTab li {
       font-weight:bold;
    }
    #main-navtab .tab-content {
        padding: 5px;
    }

.my-contaner {
    width: 100%;
    overflow: hidden;
    clear: both;
}

    .my-contaner #human,
    .my-contaner #bot,
    .my-contaner #div-user-1, .my-contaner #div-user-2 {
        float: left;
        width: 50%;
    }

    .my-contaner table caption {
        caption-side: top;
        text-align: center;
    }

#gameplay {
    height: 300px;
}

.row-dot {
    height: 60px;
    width: 400px;
    border: 2px solid #0756b7;
    border-radius: 5px;
    padding: 5px;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
}

.row-innit {
    margin-top: 10px;
    padding: 3px;
    border: 1px solid #0756b7;
    border-radius: 3px;
    min-height: 30px;
    position: relative;
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
}

#btnStart {
    cursor: pointer;
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #000;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    margin: 0 auto;
}

    #btnStart:focus {
        outline: none;
    }

    #btnStart:active {
        font-size: 27px;
    }

.row-innit .dot {
    height: 30px;
    width: 30px;
    font-size: 15px;
    line-height: 30px;
    left: 0;
    position: relative;
    margin-top: 3px;
}

.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #000;
    line-height: 45px;
    font-weight: bold;
    box-shadow: inset #244239 -2px 2px 4px 1px;
    position: absolute;
    left: -50px;
}

.dot-1 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(98, 196, 97, 0.6474964985994398) 25%, rgba(103, 201, 221, 1) 86%, rgba(103, 201, 221, 1) 100%);
}

.dot-2 {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(100, 217, 23, 0.6474964985994398) 0%, rgba(48, 186, 222, 1) 86%, rgba(103, 201, 221, 1) 100%);
}

.dot-3 {
    color: #fff;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(100, 217, 23, 0.6474964985994398) 35%, rgba(222, 48, 66, 1) 86%, rgba(103, 201, 221, 1) 100%);
}

table {
    border: 2px solid #0c0101;
    margin: 0 auto;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

    table tr td {
        height: 50px;
        width: 40px;
        border-left: 1px solid #999;
        border-top: 1px solid #999;
        text-align: center;
        cursor: pointer;
        color: #2755fb;
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
        position:relative;
    }

        table tr td:first-child {
            border-left: none;
        }

    table tr:first-child td {
        border-top: none;
    }

    table tr td img.pick-icon {
        height: 30px;
        position: absolute;
        left: 10%;
        top: 18%;
    }

/*.td-active {
    background: #bdd7e6 !important;
}*/

#alert {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 40%;
    top: 35%;
    display: none;
}

    #alert span {
        width: 320px;
        height: 200px;
        background: #2ef5e2;
        position: absolute;
        text-align: center;
        line-height: 200px;
        font-size: 85px;
        opacity: 0.7;
        border-radius: 10px;
        color: #ff1212;
        border: 1px solid #000;
        box-shadow: #000 4px 8px 11px 4px;
    }


#infor-main label,
#infor-main #username,
#infor-main #lv-select {
    font-size: 14px;
    box-sizing: border-box;
    font-weight:bold;
}

#infor-main .mrow {
    margin-top: 10px;
}

#infor-main input,
#infor-main select {
    width: 100%;
    height: 30px;
    padding: 0 3px 0 3px;
}

.btnIngame {
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
    background: #c6dbfb;
    border: none;
    padding:0;
    height: 30px;
    border-radius: 3px;
    font-weight:bold;
}

.my-contaner #bot .money,
.my-contaner #div-user-1 .user-info {
    float: left;
}

.my-contaner #human .money, .my-contaner #div-user-2 .user-info {
    float: right;
}

.user-info .user-icon, .user-info .money {
    display: inline-block;
}

    .user-info .user-icon .user-info-name,
    .user-info .money .money-number {
        font-size: 14px;
        font-weight: bold;
        vertical-align: bottom;
    }

    .user-info .user-icon .user-info-name {
        color: #2533da;
    }

.user-info .money {
    margin-left: 5px;
}

    .user-info .money .money-number {
        color: #2a6123;
    }

#messageHub {
    color: red;
}

a.td-pick {
    color: #7f10f9;
    font-weight: bold;
    font-size: 17px;
}

    a.td-pick:hover {
        text-decoration: none;
    }

#roomNumber #roomid {
    font-size: 15px;
    font-weight: bold;
    vertical-align: bottom;
}
.messagebox .messagebox_content .box-msg{
    margin-left: 5px;
}