<div id="roomNumber"><i><img src="https://www.flaticon.com/svg/static/icons/svg/752/752687.svg" alt="Alternate Text" width="20" /></i>&nbsp;<span id="roomid"></span></div>
<div id="gameplay">
    <button id="btnStart">Play</button>
    <div class="row-dot">
    </div>
    <div class="row-innit"></div>
</div>
<hr>
<div id="div-user-1">
    <div class="user-info">
        <div class="user-icon"><i><img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922506.svg" width="15" alt="Alternate Text" /></i>&nbsp;<span class="user-info-name"></span></div>
        <div class="money"><img src="https://www.flaticon.com/svg/static/icons/svg/2916/2916103.svg" alt="" width="15">&nbsp;<span class="money-number"></span></div>
    </div>
    <table class="" id="tb-user-1">
        <tbody>
        </tbody>
    </table>

</div>

<div id="div-user-2">
    <div class="user-info">
        <div class="user-icon"><i><img src="https://www.flaticon.com/svg/static/icons/svg/2922/2922468.svg" width="15" alt="Alternate Text" /></i>&nbsp;<span class="user-info-name"></span></div>
        <div class="money"><img src="https://www.flaticon.com/svg/static/icons/svg/2916/2916103.svg" alt="" width="15">&nbsp;<span class="money-number"></span></div>
    </div>
    <table class="table-sm" id="tb-user-2">
        <tbody>
        </tbody>
    </table>

</div>
