<div id="roomNumber">ID phòng:&nbsp;<span></span></div>
<div id="gameplay">
    <button id="btnStart">Play</button>
    <div class="row-dot">
    </div>
    <div class="row-innit"></div>
</div>
<hr>
<div id="div-user-1">
    <div class="money"><img src="https://www.flaticon.com/svg/static/icons/svg/2916/2916103.svg" alt="" width="15">&nbsp;<span></span></div>

    <table class="table-sm" id="tb-user-1" disabled>
        <caption></caption>
        <tbody>
        </tbody>
    </table>
</div>

<div id="div-user-2">
    <div class="money"><img src="https://www.flaticon.com/svg/static/icons/svg/2916/2916103.svg" alt="" width="15">&nbsp;<span></span></div>
    <table class="table-sm" id="tb-user-2">
        <caption></caption>
        <tbody>
        </tbody>
    </table>

</div>
